[submodule "third-party/fixed-containers"]
	path = third-party/fixed-containers
	url = https://github.com/robcholz/fixed-containers.git
[submodule "third-party/llvm-project"]
	path = third-party/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = release/17.x
